.HomeContainer {
  font-family: 'Dosis';
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  height: 30vh;
  width: 100%;
  padding: 4rem 0;
  margin-bottom: 1rem;
  background-color: #1e8cbf;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-lg {
  max-width: 40rem;
  border-radius: 5%;
}

.home-description {
  width: 40%;
  font-family: 'Mitr';
}
