.container {
  background-color: #126181;
  padding: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.linkNav {
  color: #fff;
  font-family: 'Marcellus';
  text-decoration: none;
}

img {
  max-width: 8rem;
  border-radius: 5%;
}
